---
layout: page
title: "Home"
---

Welcome to my homepage! I am Benyamin Ghojogh, an engineer and researcher in the field of machine learning. 

In the following, I introduce some of my abilities:


- About my background and abilities: I have a strong background and experience in machine learning, deep learning, feature extraction, and artificial intelligence. 
- About my coding: I have a good coding ability. My most expert coding language is Python, but I am also familiar with other languages such as C/C++, Java, and Matlab. I know object-oriented programming. I know how to work with git and group coding. Some of my open/public codes can be observed in my GitHub account, which is https://github.com/bghojogh
- About my coding in deep learning and machine learning: I know how to work with deep learning libraries, including PyTorch and Tensorflow. I also know machine learning libraries in Python. Moreover, I know how to work with vectors, matrices, and linear algebra in coding. 
- About my general abilities: I am very hardworking and enthusiastic. I have worked with various people and teams so far and know how to work with teams. I am also good in presenting and reporting to both peers and public.

In the following, I list some of social pages:

- [LinedIn](https://www.linkedin.com/in/benyamin-ghojogh-97423276/)

[Link to a document]({% link pages/uoguelph/engg-6140-w23.md %})

<!-- {% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %} -->


<!-- instruction: -->
<!-- https://www.youtube.com/watch?v=qZsgPgGdOzQ&list=LL&index=1 -->
